.content {
    flex: 1;
    width: 100%;
    background-color: rgb(237, 236, 236);
}

.content-top {
    text-align: right;
    font-size: 20px;
    padding: 10px;
    background-color: white;
}

.logout{
    color: darkred;
    cursor: pointer;
}

.content-main{
    margin: 30px 10px 0;
    background-color: white;
    border: 1px solid rgb(160, 159, 159);

}

.title{
    color: darkred;
    border-bottom: 1px solid darkred;
    border-left: 3px solid darkred;
    margin: 5px;
    padding: 10px;
    font-size: 20px;
}

.main-form{
display: flex;
flex-direction: column;
margin: 50px;
padding: 10px;
background-color: rgb(237, 236, 236);
}

.main-form input, textarea{
    border: 1px solid rgb(160, 159, 159);
    border-radius: 5px;
    padding: 5px;
    margin: 10px 0;
}


textarea{
    height: 60px;
}

.quant{
    width: 80px;
    height: 30px;
}

.btn {
    padding: 5px 20px;
    background-color: darkred;
    color: white;
    height: 50px;
    border: none;
    float: right;
    margin-left: auto;
    margin-top: 30px;
    margin-bottom: 30px;
    margin-right: 10px;
    cursor: pointer;
    border-radius: 5px;
}

.btn:hover{
    background-color: #cc0000;
}

.icon{
    margin-right: 5px;
    }

.form-content{
display: flex;
flex-direction: column;
}



/*  */