.container{
    display: flex;
    flex-direction: row;
    font-family: Arial, Helvetica, sans-serif;
}

.sidebar{
    width: 20%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    background-color: #323232;
}

.logo{
   text-align: center; 
}
.logo h1{
    color: darkred;
    font-size: 70px;
}

nav ul{
    list-style-type: none;
    padding: 0;
}

.mainmenu{
    margin-bottom: 13px;
    padding: 13px;
}

nav ul li:not(.active):hover {
    background-color: #990000;
}

nav ul li a {
    text-decoration: none;
    color: white;
}

nav ul li a i {
    margin-right: 10px;
    font-size: 20px;
}

.active{
    background-color: darkred;
    border-top: 2px solid white;
    border-bottom: 2px solid white;
}

.submenu{
padding-left: 25px !important;
padding-top: 10px !important;
padding-bottom: 10px !important;
text-transform: none;
}

.submenu i{
    font-size: 10px;
}

.arrow{
   float: right;
   font-size: 19px; 
}

